In [1]:
a='raghav'
b=[1,2,3,4,5,6,7,77.7,True,'pro']
c=45.298
d=(1,2,3,4,5,6,7)

In [2]:
#(a) string
#(b) string
#(c) list 
#(d) integer

In [3]:
#(a) to divide 
2/3

0.6666666666666666

In [5]:
#(b) to find remainder 
5%4

1

In [6]:
#(c) floor 
8//7

1

In [7]:
#(d) power 
3**4

81

In [9]:
l=[1,2,3,4,5,6,7,88.56,'raghav',True]
for i in l :
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
6
<class 'int'>
7
<class 'int'>
88.56
<class 'float'>
raghav
<class 'str'>
True
<class 'bool'>

In [10]:
r=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in r : 
    s=i%3
    if s==0 :
        print(i)
        print('DIVISIBLE BY 3')
    else :
        print(i)
        print('NOT DIVISIBLE BY 3')

1
NOT DIVISIBLE BY 3
2
NOT DIVISIBLE BY 3
3
DIVISIBLE BY 3
4
NOT DIVISIBLE BY 3
5
NOT DIVISIBLE BY 3
6
DIVISIBLE BY 3
7
NOT DIVISIBLE BY 3
8
NOT DIVISIBLE BY 3
9
DIVISIBLE BY 3
10
NOT DIVISIBLE BY 3
11
NOT DIVISIBLE BY 3
12
DIVISIBLE BY 3
13
NOT DIVISIBLE BY 3
14
NOT DIVISIBLE BY 3
15
DIVISIBLE BY 3
16
NOT DIVISIBLE BY 3
17
NOT DIVISIBLE BY 3
18
DIVISIBLE BY 3
19
NOT DIVISIBLE BY 3
20
NOT DIVISIBLE BY 3
21
DIVISIBLE BY 3
22
NOT DIVISIBLE BY 3
23
NOT DIVISIBLE BY 3
24
DIVISIBLE BY 3
25
NOT DIVISIBLE BY 3

In [11]:
#immutable datatype is a datatype which cannot be changed at a particular index whereas mutable is one which can be changed at a particular index.
#example of immutable: string   example of mutable: list

In [14]:
z=[1,2,3,4]
z[0]=0

In [15]:
z

[0, 2, 3, 4]

In [16]:
p='abrol'
p[0]='s'

TypeError: 'str' object does not support item assignment

In [19]:
A=int(input())
B=int(input())
if A%B==0 :
    print(A,'is divisible by',B)
else :
    print(A,'is not divisible by',B)

 197
 34

197 is not divisible by 34